islpy
numpy
pytest
pytest-cov
pymetis
importlib-resources
psutil
pyyaml
git+https://github.com/pythological/kanren.git#egg=miniKanren

git+https://github.com/mpi4py/mpi4py#egg=mpi4py

# The following packages will be git cloned by emirge:
--editable git+https://github.com/inducer/pytools.git@444c4b6#egg=pytools
--editable git+https://github.com/inducer/pymbolic.git#egg=pymbolic
#--editable git+https://github.com/inducer/pyopencl.git#egg=pyopencl
--editable git+https://github.com/illinois-ceesd/loopy.git@save-old-production#egg=loopy
--editable git+https://github.com/inducer/dagrt.git#egg=dagrt
--editable git+https://github.com/inducer/leap.git#egg=leap
--editable git+https://github.com/inducer/modepy.git#egg=modepy
--editable git+https://github.com/illinois-ceesd/arraycontext.git@save-old-production-pilot#egg=arraycontext
--editable git+https://github.com/illinois-ceesd/meshmode.git@save-old-production-pilot#egg=meshmode
--editable git+https://github.com/illinois-ceesd/grudge.git@save-old-production-pilot#egg=grudge
--editable git+https://github.com/illinois-ceesd/pytato.git@save-old-production#egg=pytato
--editable git+https://github.com/pyrometheus/pyrometheus.git@tulio/entropy#egg=pyrometheus
--editable git+https://github.com/illinois-ceesd/logpyle.git#egg=logpyle
--editable git+https://github.com/kaushikcfd/feinsum.git#egg=feinsum
--editable git+https://github.com/inducer/pyvisfile.git@09c01f2#egg=pyvisfile
