# Useful development packages.
# Install them with 'pip install -r requirements_dev.txt'.

memory-profiler
pudb
pyinstrument
vmprof; platform_machine == "x86_64" # Might fail on some machines, you might have to install the package from the repo.
