name: CI test

# Trigger the workflow on push and cron
on:
  push:
  schedule:
  - cron:  '5 0 * * *'


jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
        - uses: actions/checkout@v2
        - uses: goanpeca/setup-miniconda@v1
          with:
            auto-update-conda: true
            channels: conda-forge, nodefaults
        - name: Install prerequisites
          shell: bash -l {0}
          run: |
            conda install pocl islpy pyopencl pytest pip clinfo
            pip install git+https://gitlab.tiker.net/inducer/{loopy,meshmode,dagrt,leap,modepy,meshpy,grudge}
            pip install -e .
        - name: Flake8
          shell: bash -l {0}
          run: |
            pip install flake8 pep8-naming
            flake8
        - name: Run tests
          shell: bash -l {0}
          run: |
            [[ $(uname) = "Darwin" ]] && myprefix=local || myprefix=share
            export OCL_ICD_VENDORS=/usr/$myprefix/miniconda/envs/test/etc/OpenCL/vendors
            ls $OCL_ICD_VENDORS
            clinfo
            pytest --durations=10 --tb=native --junitxml=pytest.xml --doctest-modules -rxsw
